.pokemon-card {
  text-align: center;
}

.pokemon-image {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

.pokemon-name {
  font-size: 1.8rem;
  color: #222;
  text-align: center;
}

.section-title {
  font-size: 1.2rem;
  margin-top: 16px;
  font-weight: bold;
  color: #3a3a3a;
  text-align: center;
}
.pokemon-info {
  font-size: 1rem;
  color: #666;
  text-align: center;
}